@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scrollbar-gutter: auto auto;
    /* background-color: #011222; */
    background-color: #171717;
    /* background-image: url("../public/images/Melamine-wood-002.png"); */
}

.homepage-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../public/images/kapi-cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.sidebar-height {
    height: calc(100vh - 70px);
}

@layer base {
    html {
        @apply scroll-smooth;
    }

    main {
        @apply mt-4 sm:mx-auto w-full sm:max-w-screen-xl flex flex-col flex-1 px-2 sm:px-4 xl:px-0 gap-y-8;
    }
}

@layer components {
    .nav-link {
        @apply text-base  hover:text-stone-300 transition font-medium flex flex-row items-center;
    }

    .nav-dropdown-link {
        @apply text-sm w-full h-full  hover:bg-zinc-700 rounded p-2 flex flex-row justify-between items-center;
    }

    .card {
        @apply rounded-2xl bg-white/95 text-[#271810]   p-5;
    }

    .form-input-white {
        @apply py-2 px-3 drop-shadow-md rounded-lg w-full outline-none placeholder:text-black/75
        focus:outline-2 focus:outline-offset-1 focus:outline-[#02294d]/75 transition-all duration-300 ease-in-out;
    }
}

/* Carousel */
.embla {
    overflow: hidden;
    height: 100%;
}
.embla__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.embla__slide {
    flex: 0 0 100px;
    min-width: 0;
    margin-bottom: 1rem;
    overflow: hidden;
}
