@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* --s: 50px;
    --c: #0000 75%, #eee5b57c 0;
    --g1: conic-gradient(at 78% 3%, var(--c));
    --g2: conic-gradient(at 3% 78%, var(--c));
    background: var(--g1), var(--g1) var(--s) var(--s),
        var(--g1) calc(2 * var(--s)) calc(2 * var(--s)),
        var(--g1) calc(3 * var(--s)) calc(3 * var(--s)),
        var(--g2) 0 calc(3 * var(--s)), var(--g2) var(--s) 0,
        var(--g2) calc(2 * var(--s)) var(--s),
        var(--g2) calc(3 * var(--s)) calc(2 * var(--s)) #966f33;
    background-size: calc(4 * var(--s)) calc(4 * var(--s)); */

    background-color: #302406;
    /* background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png"); */
    /* background-image: url("../public/images/Melamine-wood-002.png"); */
}

/* From https://css.glass */

.glass-effect {
    background: rgba(255, 255, 255, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@layer components {
    .nav-link {
        @apply font-normal hover:border-b-2 hover:border-current transition;
    }

    .main-container {
        @apply mt-4 flex flex-col sm:max-w-screen-xl sm:mx-auto gap-y-8;
    }

    .card {
        @apply shadow-md rounded-lg bg-white/70 text-[#271810] backdrop-blur-lg;
    }
}
